label {
    font-size: 14px;
    font-weight: bold;
    color: #e7dcdc;
    display: block;
    margin-bottom: 5px;
  }
  input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s ease-in-out;
  }
  