@import "primeicons/primeicons.css";
* {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
  }

/* Ensure the delete dialog has a white background */
.ui-dialog .ui-dialog-content {
    background-color: white !important;
  }

/* body {
    background-image: url('assets/jobtrack.png');  /* Set doodle background */
    /* background-size: cover;  /* Adjust size */
    /* background-position: center;  /* Center the image */
    /* background-repeat: repeat;  Repeat across the screen */
    /* background-attachment: scroll;  Make it fixed while scrolling */
    /* background-size: 100px 150px; */ 
/*} */ 

