tr {
  height: 0.5cm;
  border-bottom: 1px solid #ddd;
}

td {
  padding: 8px;
  text-align: left;
}

.edit-btn {
  background-color: #ffc107 !important; /* Yellow */
  color: black !important;
  border: none;
  margin-right: 5px;
  cursor: pointer;
}

.delete-btn {
  background-color: #dc3545 !important; /* Red */
  color: white !important;
  border: none;
  cursor: pointer;
}
